# Copy to variables.env after uploading or sharing a Google Drive dataset.
# The default workshop path expects a public Google Drive folder shaped like:
#
# dataset/
#   images/
#     image_001.jpg
#     image_001.txt
#     ...
#   sample_prompts.txt

WORKSHOP_DATASET=custom

# Generic override. This can point to either:
# - a Drive ZIP containing dataset/
# - a Drive folder named dataset with images/ and captions inside it
DATASET_URL=https://drive.google.com/drive/folders/15sox-p1gwyb5lD52p5bfx-vkabVu_sRV?usp=sharing

TRIGGER=jalen
OUTPUT_NAME=jalen_zimage
PROMPT_FILE=data/dataset/sample_prompts.txt

MUSUBI_REF=v0.3.0
MUSUBI_CUDA_EXTRA=cu128
TRAIN_RESOLUTION=768
MIN_IMAGES=12
RECOMMENDED_IMAGES=20
MAX_TRAIN_STEPS=800
NETWORK_DIM=32
NETWORK_ALPHA=32
LEARNING_RATE=1e-4
INFER_STEPS=24

DOWNLOAD_MODELS_ON_BUILD=0
